.autocomplete-container {
  margin: 10px;
  position: relative;
}

.autocomplete-input {
  width: 100%;
  padding: 5px;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
}

.autocomplete-entries {
  width: 100%;
  max-height: 200px;
  position: absolute;
  top: 30px;
  border: 1px solid #c3c3c3;
  border-top: none;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  z-index: -1;
  overflow-y: scroll;
}

.autocomplete-entry {
  width: 100%;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c3c3c3;
  cursor: pointer;
}
.autocomplete-entry:hover {
  background: #f3f3f3;
}
.autocomplete-entry:last-child {
  border-bottom: none;
}